.wpcsp-sponsors .wpcsp-sponsor-level .wpcsp-sponsor-level-heading {
  text-align: center;
  position: relative;
}
.wpcsp-sponsors .wpcsp-sponsor-level .wpcsp-sponsor-level-heading:before, .wpcsp-sponsors .wpcsp-sponsor-level .wpcsp-sponsor-level-heading:after {
  display: none;
}
.wpcsp-sponsors .wpcsp-sponsor-level .wpcsp-sponsor-level-heading:before {
  display: block;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 1px;
  background-color: LightGray;
  margin: 0;
  padding: 0;
  z-index: -1;
}
.wpcsp-sponsors .wpcsp-sponsor-level .wpcsp-sponsor-level-heading span {
  background-color: #fff;
  padding: 0px 20px;
}
.wpcsp-sponsors .wpcsp-sponsor-level .wpcsp-sponsor-list {
  list-style-type: none;
  padding-left: 0;
  text-align: center;
}
.wpcsp-sponsors .wpcsp-sponsor-level .wpcsp-sponsor-list .wpcsp-sponsor {
  display: inline-block;
  margin: 10px;
}

.single-wpcsp_sponsor .wpcsp-sponsor-swag {
	margin-top: 10px;
	border: 4px dashed #7f1177;
    border-radius: 10px;
    padding: 20px;
    background: #EFE6F0;
}

.talk-title-meta {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 20px;
}

.talk-title-meta .talk-track {
	text-transform: uppercase;
	font-size: .875rem;
	background: var(--fg);
	color: var(--bg);
	padding: 4px;
	border-radius: 4px;
	text-decoration: none;
	font-weight: 400;
}

.talk-title-meta:has(h1) {
	margin-bottom: 1.25rem;
}

.talk-title-meta h1 {
	margin-bottom: 0;
}

.single-wpcsp_sponsor .wpcsp-sponsor-swag h2 {
	margin-top: 0;
    font-size: 1em;
}
@media (min-width: 768px) {
  .wpcsp-sponsors .wpcsp-sponsor-level .wpcsp-sponsor-list .wpcsp-sponsor {
    margin: 20px;
  }
}

@media (min-width: 768px) {
  .wpcsp-sponsor-single-row {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    align-content: center;
  }
}
.wpcsp-sponsor-single-image {
  text-align: center;
}
.wpcsp-sponsor-single-image img {
  max-height: 50px;
  width: auto;
  display: block;
}

.single-wpcsp_speaker .entry .entry-content > * {
  max-width: 100%;
}

.single-wpcsp_speaker .entry h2 {
  font-size: 1.2em;
}
@media (min-width: 768px) {
  .single-wpcsp_speaker .has-post-thumbnail .wpcsp-speaker-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 30px;
  }
}
@media (min-width: 1140px) {
  .single-wpcsp_speaker .has-post-thumbnail .wpcsp-speaker-grid {
    grid-column-gap: 50px;
  }
}
.single-wpcsp_speaker .wpcsp-speaker-details p {
  margin: 0;
  font-weight: bold;
}
.wpcsp_sponsor .wpcsp-sponsor-social,
.single-wpcsp_speaker .wpcsp-speaker-social {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 1em;
  margin-bottom: 1em;
}
.wpcsp_sponsor .wpcsp-sponsor-social-icon,
.single-wpcsp_speaker .wpcsp-speaker-social-icon {
  display: inline-block;
  padding: 0px 2px;
  font-size: 1em;
}
.wpcsp_sponsor .wpcsp-sponsor-social-icon-link,
.single-wpcsp_speaker .wpcsp-speaker-social-icon-link {
  text-decoration: none !important;
}
.single-wpcsp_speaker .wpcsp-speaker-links .wpcsp-speaker-link {
  display: block;
}
@media (min-width: 768px) {
  .single-wpcsp_speaker .wpcsp-speaker-links .wpcsp-speaker-link {
    display: inline-block;
  }
}
@media (min-width: 768px) {
  .single-wpcsp_speaker .wpcsp-speaker-links .wpcsp-speaker-link-speakers {
    margin-right: 40px;
  }
}
.wpcsp-speakers {
  display: block !important;
}
@media (min-width: 768px) {
  .wpcsp-speakers {
    display: grid !important;
  }
}
.wpcsp-speakers .wpcsp-speaker-image {
  border-radius: 50%;
  margin-bottom: 15px;
}
.wpcsp-speakers .wpcsp-speaker-name {
  font-size: 1em;
}
.wpcsp-speakers .wpcsp-speaker-title-organization {
  font-size: 1rem;
}
@media (min-width: 768px) {
  .wpcsp-speakers .wpcsp-speaker-title-organization {
    margin-bottom: 0;
  }
}

.single-wpcsp_sponsor .entry .entry-content > * {
  max-width: 100%;
}
.single-wpcsp_sponsor .entry h2 {
  font-size: 1.2em;
}
.single-wpcsp_sponsor .entry-title {
  font-size: 2em;
}
@media (min-width: 768px) {
  .single-wpcsp_sponsor .has-post-thumbnail .wpcsp-sponsor-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 30px;
  }
}
@media (min-width: 1140px) {
  .single-wpcsp_sponsor .has-post-thumbnail .wpcsp-sponsor-grid {
    grid-column-gap: 50px;
  }
}
.single-wpcsp_sponsor .has-post-thumbnail .wpcsp-sponsor-level {
  font-size: 1.5em;
}
.wpcsp-session-speaker:first-child {
  margin-top: 10px;
}
.wpcsp-session-speaker-name {
  font-weight: bold;
}
.wpcsp-session-speaker-title-organization {
  font-size: 0.9em;
}

.wpcsp-single-session-speakers {
  text-align: center;
  padding: 30px 0;
}
@media (min-width: 768px) {
  .wpcsp-single-session-speakers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
}
.wpcsp-single-session-speakers-title {
  font-size: 1.2em;
  text-align: left;
}
@media (min-width: 768px) {
  .wpcsp-single-session-speakers-title {
    grid-column: 1/4;
    grid-row: 1;
  }
}
.wpcsp-single-session-speakers-speaker-image {
  border-radius: 50%;
  margin-bottom: 15px;
}
.wpcsp-single-session-speakers-speaker-name {
  font-weight: bold;
  font-size: 1em;
  margin: 0;
}
.wpcsp-single-session-speakers-speaker-title-organization {
  font-size: 0.9em;
}

.wpcsp-session-tags {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}
.wpcsp-session-tags-tag {
  display: inline-block;
  font-weight: bold;
  font-size: 0.8em;
  line-height: 0.8em;
  margin: 0 5px 10px 0px;
}
.wpcsp-session-tags-tag-link, .wpcsp-session-tags-tag-link:visited {
  text-decoration: none !important;
  color: #ffffff;
  background-color: #0073aa;
  display: block;
  padding: 10px;
  border-radius: 3px;
}
.wpcs-color-scheme-dark .wpcsp-session-tags-tag-link, .wpcs-color-scheme-dark .wpcsp-session-tags-tag-link:visited {
  color: #000000;
  background-color: #ffffff;
}

.wpcsp-tabs-list {
  text-align: center;
}
.wpcsp-tabs-list-button {
  width: 100%;
  margin-bottom: 10px;
  background-color: transparent;
  color: #000000;
  border: solid 2px #000000;
}
@media (min-width: 768px) {
  .wpcsp-tabs-list-button {
    margin-right: 10px;
    width: auto;
  }
}
.wpcsp-tabs-list-button:hover, .wpcsp-tabs-list-button:focus, .wpcsp-tabs-list-button[aria-selected=true] {
  color: #ffffff;
  background-color: #000000;
}

.lightning-talk .talk-description {
	margin-bottom:1em
}

.lightning .wp-block-column {
	font-size:90%;
	display:flex;
	column-gap:32px
}

.lightning .wp-block-column .lightning-talk {
	max-width:25em
}

.schedule .wp-block-columns.inside {
	margin-top:1em;
	column-gap:32px
}

.localtime {
	display:block;
	font-size:1rem
}

.talk-header .time-wrapper {
	display:flex;
	flex-wrap:wrap
}

.schedule .time-wrapper .localtime {
	display:inline
}

.wpcs-session-links {
	display:flex;
	flex-wrap:wrap;
	column-gap:32px
}

.talk-time .talk-speakers {
	font-size:1rem;
	font-weight:400
}

.schedule .wpcsp-session-speaker img {
	height:fit-content
}

.schedule .talk-header {
	margin-top:0;
	margin-bottom:.5rem;
	display:grid;
	grid-template-columns:12em 1fr;
	line-height:1.4
}

.schedule .talk-header h2 {
	margin:0
}

.schedule .talk-header .talk-speakers {
	font-size:1rem
}

.schedule .talk-header a {
	font-size:2rem
}

.single-wpcs_session .wpcsp-session-speaker,.schedule .wpcsp-session-speaker {
	display:flex;
	column-gap:32px;
	margin-bottom:1rem
}

time .localtime {
	display:inline;
	font-size:inherit
}

time .localtime:before {
	content:' ('
}

time .localtime:after {
	content:')'
}

@media screen and (max-width: 960px) {
	.wp-block-group.schedule {
		max-width:100%
	}
}

@media screen and (max-width: 800px) {
	.schedule .talk-header a,.schedule h2 {
		font-size:1.5rem
	}

	.lightning .wp-block-column {
		display:block
	}

	.lightning .wp-block-column .lightning-talk {
		max-width:100%
	}
}

@media screen and (max-width: 500px) {
	.schedule .time-wrapper,.schedule .talk-header {
		display:block
	}
}

.able-poster {
	padding: 20px 0;
	background: #030303;
}

.able-big-play-button:focus,
.able-big-play-button:hover {
	background: transparent !important;
}

.able {
	box-shadow: none;
	border: 1px solid #eee;
}

.able-seekbar-head {
	width: 1em;
	height: 1em;
}

.able-window-toolbar label {
	display: inline;
}

.wpad-video-player .able {
	margin: 0;
}

/** Social share links **/
.wpcsp-links {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.wpcsp-links li {
	display: flex;
}

.wpcsp-links li button {
	all: unset;
	background: var(--accent1s2);
	border-radius: 0 6px 6px 0;
}

.wpcsp-links li button:hover,
.wpcsp-links li button:focus {
	outline: 2px solid;
	outline-offset: 2px;
}

.wpcsp-links li:has(button) a {
	border-radius: 6px 0 0 6px;
}

.wpcsp-links li a {
	display: flex;
	align-items: center;
	gap: 8px;
	text-decoration: none;
	background:var(--accent1s2);
	border-radius: 6px;
	padding: 2px 8px;
}

.wpcsp-links li a .wpcsp-text {
	font-size: .875rem;
	font-weight: 500;
}

/** Donors Shortcode **/
.wpcsp-donors ul li {
	margin-bottom: 10px;
	line-height: 1.5;
}

.wpcsp-donors .donor-name {
	font-weight: 700;
}

.wpcsp-donors .donor-location {
    font-size: .9em;
}

.wpcsp-donors span {
    display: block;
}

.attendee-social .dashicons.fa-brands.fa-x-twitter::before {
	vertical-align: middle;
	border-bottom: 1px solid;
}